<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books List</title>

</head>
<body>
<h1>list of all books</h1>
 <table th:each="books : ${booksList}" >
    <div >
        <h2>Book Title</h2>
        <p th:text="${books.BookTitle}"></p>
        <h2>Book Author</h2>
        <p th:text="${books.BookAuthor}"></p>
        <br>
        <a th:href="@{/book/bookDetail/{id}(id = ${books.BookID}) }"> <h5>Book Detail</h5> </a>

        <hr>
    </div>


 </table>
</body>
</html>