git <!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Book</title>
</head>
<body>

<h1>Enter the detail of book to be exchange </h1>


<form action="#" th:action="@{/books/processBookUpload}" method="post" th:object="${addBookDetails}">
    <label>Book Title:</label>
    <input type="text" placeholder="Enter Book Name" th:field="*{BookTitle}"><br><br>

    <label>Author Name: </label>
    <input type="text" placeholder="Writer Name" th:field="*{BookAuthor}"><br><br>

    <label>Published Year: </label>
    <input type="date" placeholder="mm-yyyy" th:field="*{PublishedYear}"><br><br>

    <label>Condition: </label>
    <input type="number" placeholder="1-10" th:field="*{condition}"><br><br>

    <label>Book Short Description </label><br><br>
    <textarea cols="45" rows="10" th:field="*{BookDescription}"></textarea>

    <p>Enter the price you bought the book</p>
    <label>Bought For: </label>
    <input type="number" placeholder="Write Book Price" th:field="*{price}"><br><br>


    <input type="submit" value="Upload"><br><br>


</form>

</body>
</html>