<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>BXC - Login</title>
</head>
<body>
    <div th:if="${param.error}">
        Unable to login. Check your username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out
    </div>
    <p> new user ? than <a href="/auth/register" > Register</a> </p>
    <form method="POST" th:action="@{/auth/login}" id="loginForm">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" /><br/>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" /><br/>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>